<div class="navbar-1">
  <img class="brand-logo" alt="Nuuvem" title="Nuuvem" src="//assets.nuuvem.com/assets/fe/images/nuuvem_logo-ab61ec645af3a6db7df0140d4792f31a.svg">
  <h2 class="title">Nuuvem Management System</h2>
  <ul>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn-signout" %></li>
  </ul>
</div>
